name: Build iOS App

on: [push, pull_request]
jobs:
  iOS:
    runs-on: macos-latest    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2        
    - name: iOS Simulator
      run: |
        cd Blank
        nuget restore
        msbuild BookApp/BookApp.iOS/BookApp.iOS.csproj /verbosity:normal /t:Rebuild /p:Platform=iPhoneSimulator /p:Configuration=Debug        
    - uses: actions/upload-artifact@v2
      with:
        name: iOS Simulator App
        path: BookApp/BookApp.iOS//bin/iPhoneSimulator/Debug/BookApp.iOS.app        
